body {
  color: #fdf9ed;
  background: #2c4975;
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, “Segoe UI”, “Roboto”, “Oxygen”,
    “Ubuntu”, “Cantarell”, “Fira Sans”, “Droid Sans”, “Helvetica Neue”,
    sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

::selection {
  background: #ffb7b7; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #ffb7b7; /* Gecko Browsers */
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #97a6bc;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #97a6bc;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #97a6bc;
}
