.search {
  width: 100%;
  display: flex;
}

.searchTerm {
  width: 100%;
  border: 3px solid #60738f;
  border-right: none;
  padding: 5px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #fdf9ed;
  background: #60738f;
}

.searchTerm:focus {
  color: #fdf9ed;
}

.searchButton {
  border: 1px solid #60738f;
  background: #60738f;
  border-radius: 0 5px 5px 0;

  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 0.5rem;
}

/*Resize the wrap to see the search bar change!*/
.wrap {
  width: 14rem;
}
